<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hi</p>
        <p>I am Mayuresh Dindorkar.</p>
        <p>This website provides weather information of any city across the world. You just have to provide the name of the city & click of serach button.</p>
        <p>This website is create using NodeJs framework.</p>
        <img class="portrait" src="/img/mayuresh_photo.jpg">
    </div>
    
    {{>footer}}
</body>

</html>