<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p style="font-weight: bold;">For any Query,</p>
        <p style="font-weight: bold;">Contact :</p>
        <p style="font-weight: bold;">Email : dmayuresh99@gmail.com</p>
    </div>
    
    {{>footer}}
</body>

</html>